/* dropdown styles */

.framio-menu-dropdown {
  box-shadow: 0px 4px 16px 0px #00000040;
}
.framio-Menu-item-custom {
  .framio-Menu-itemSection[data-position="left"] {
    margin-right: 8px;
  }
  &:where([data-hovered]) {
    background-color: var(--framio-color-primary-light);

    @apply dark:bg-v2foreground;
  }
  &:hover {
    border-radius: 8px;
  }
}
