.framio-Pagination {
  &-control {
    border-color: transparent;
    background-color: transparent;
    color: var(--framio-color-foreground);
    font-weight: var(--framio-fw-medium);
    &[data-active="true"] {
      background-color: var(--framio-color-foreground);
      color: var(--framio-color-natural-white);
    }
  }
}
