.framio {
  &-Radio {
    &-radio {
      /* border: 2px solid;
      border-color: var(--framio-color-grey); */
      transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
      color: transparent;
      background-color: transparent;
      border: 2px solid var(--framio-color-grey);
      &:checked {
        background-color: var(--framio-color-v2primary); /* pink in light */
        border-color: var(--framio-color-v2primary);
        @apply dark:bg-v2primary-500 dark:border-v2primary-500; /* purple in dark */
      }
      &:hover:not(:checked) {
        background-color: var(--framio-color-v2primary);
        border-color: var(--framio-color-v2primary);
        opacity: 0.6;
        @apply dark:bg-v2primary-600;
      }

      @apply dark:bg-transparent border-v2primary-100 dark:border-v2primary-600;
    }

    &-icon {
      top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
      @apply dark:text-v2foreground; /* dot color in dark mode */
    }

    &-label {
      font-size: var(--framio-para-fs-md);
      color: var(--framio-color-v2foreground);
      transition: color 0.2s ease;

      &:hover {
        color: var(--framio-color-foreground);
      }
      @apply dark:text-v2primary-100;
    }
  }
}
