@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#fdfbf7] text-[#1a1a1a] antialiased;
  }

  ::selection {
    background: #9b6b43;
    color: #fdfbf7;
  }
}
